<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index_style.css">
    <link rel="stylesheet" href="css/create-user.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <form  name = 'userform' id = 'login_form'>
        <div id = 'main_container'>
            <div id = 'login_title'>
                <h1>Cadastro</h1>
            </div>

            <div id = 'int_container'>
                <p>Username:</p>
                <input id = 'user_int' name = 'username' type="text">
                <p>Senha:</p>
                <input id = 'senha_int' name = 'senha' type="text">
            </div>
            <button>Criar Conta</button>
        </div> 
    </form>
    <a id = 'reg_link' href="/">Já possui uma conta? Faça login.</a>

    <script src="scripts\newReq.js"></script>
    
</body>
</html>